<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1.可以使用无参数构造函数实例化的组件，如何进行ioc配置
        <bean -组件信息-  一个组件对象
            id:代表组件的标识 唯一方便后期的读取
            class:代表组件的权限定符
        讲一个组件类 -声明两个组件信息，默认为单例模式，会实例化两个组件对象
        相当于new了2次
    -->
    <bean id="happyComponent1" class="com.atsakuraky.ioc_01.HappyComponent"/>
    <bean id="happyComponent2" class="com.atsakuraky.ioc_01.HappyComponent"/>

    <!-- 静态工厂类如何声明工厂方法进行ioc的配置
        <bean
            id:代表组件的标识 唯一方便后期的读取
            class:代表组件的权限定符
            factory-method:代表工厂方法的名称
    -->
    <bean id="clientService" class="com.atsakuraky.ioc_01.ClientService"
          factory-method="createInstance" />
        <!-- 通过工厂方法创建的组件对象，默认也是单例模式 -->

    <!-- 非静态工厂如何声明ioc配置 -->
    <!-- 配置工厂类的组件信息 -->
    <bean id="defaultServiceLocator" class="com.atsakuraky.ioc_01.DefaultServiceLocator" />
    <!-- 通过指定非静态工厂对象和方法名来配置生成的ioc信息 -->
    <bean id="clientService2" factory-bean="defaultServiceLocator" factory-method="createClientServiceInstance"/>

</beans>